$defaultFontSize : 16px;

$fontColorDark: #34495e; /*Wet Asphalt*/
$fontColorMedium: #7f8c8d; /*Asbestos*/
$fontColorLight: #ecf0f1; /*clouds*/

$themeColor1: #16a085; /* green sea */
$themeColor2: #27ae60; /* nephritis */
$themeColor3: #2980b9; /* belize hole */
$themeColor4: #8e44ad; /* wisteria */
$themeColor5: #2c3e50; /* mignight blue */
$themeColor6: #e67e22; /* pumpkin */
$themeColor7: #9E9E9E; /* gray material ui*/
$themeColor8: #455A64; /* blue gray 700 materialcolors*/
$iconColor: #f2930e; /* gold */

/*! screen sizes */
$largeScreen: 1020px; /*! 1020px and above */
$mediumScreen: 768px; /*! 768px - 1019px */
$smallScreen: 530px;  /*! 530px - 767px */