/*! 
 the main landing page block with background image and text content overlay
 styling: image full width
 text content: overlay at the center of the image
*/

.large-hero{
    position: relative;
    border-bottom: 10px solid $fontColorDark;

    &__image {
        display: block;
        height: 90vh;
        opacity: 0.3;
        
        /* @mixin atMedium {
            background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('/assets/images/music-score-534283-1920x1280.jpeg') ;
            background-size: cover;
        } */
    }

    &__text-content-center-align {
        position: absolute;

        /*! position the element in the center of the bg image horizontally*/
        width: 100%;
        text-align: center;
        /*! position the element in the center of the bg image vertically*/
        top: 50%;
        transform: translateY(-50%);
        padding-top: 88px; /*! to offset the sticky header */ 
        @mixin atMedium {
            padding-top: 60px;
        }

    }

    &__title {
        font-weight: 300;
        font-size: 2.4rem;
        margin: 0;

        @mixin atSmall {
            font-size: 4.8rem;
        }

    }

    &__subtitle {
        font-weight: 300;
        font-size: 1.5rem;
        margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }

    }

    &__description {
        color: $themeColor5;
        font-size: 1.2rem;
        font-weight: 100;
        /*! text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.875rem;
        }
        
    }
}