/*!
reusable block to place elements in a row
*/

.row {

    /*! the columns inside the row are floated; so clear the floats after all the columns are added, ie at the end of row */
    @mixin clearfix;

    /*! 
        the modifier --gutters is used to have padding for each column inside the row; 
        ie all children inside the row but not the row itself.
        Also, the box-sizing should be border-box to allow the column width % to be relevant even with gutters.
        The box-sizing is set to border-box globally
    */
    &--gutters > div {
        padding-right: 65px;
    }
    
    /*! Adding gutters to columns will cause the last column also to have the gutter to the right, which is not needed.
        This can be handled by letting the row with gutter overflow its parent using a -ve margin
        (overflow by an amount of gutter width) and letting the parent hide the overflow
    */
    &--gutters {
        margin-right: -65px;
    }

    /*! add bottom margin for small screens until the screen size hits medium. 
    No bottom margin for medium or larger screens */
    &--b-margin-until-medium {
        margin-bottom: 1rem;

        @media atMedium {
            &--b-margin-until-medium {
                margin-bottom: 0;
            }
        }

    }

    @mixin atMedium {

        &__4-column-on-medium-screen {
            float: left;
            width: 33.33%;
    
        }

        /*! column section slightly larger than 4 columns */
        &__4-column-on-medium-screen--larger {
            width: 37%
        }
    
        &__8-column-on-medium-screen {
            float: left;
            width: 66.66%;
        }

        /*! column section slightly smaller than 8 columns */
        &__8-column-on-medium-screen--smaller {
            width: 63%;
        }
    }
    
}