.site-header {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
    transition: background-color .3s ease-out;

    &--is-expanded {
        background-color: rgba($fontColorDark, .55);
    }

    @mixin atMedium {
        background-color: rgba($fontColorDark, .3);
    }
    

    &__btn-container {
        @mixin atMedium {
            float: right;
        }
    }

    &__logo {
        position: absolute;
        background-color: $fontColorDark;
        padding: 10px 20px;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.7);
        transform-origin: 50% 0;
        @mixin atMedium {
            left: 15%;
            transform: 0;
        }

        /* @mixin atLarge {
            left: auto;
            transform: 0;
        } */

    }

    &__logo-graphic {
        text-indent: -9999px;
    }

    &__menu-icon {
        /* background-color: $fontColorDark; */
        /* background-color: $themeColor6; */
        width: 20px;
        height: 19px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        /*! hamburger menu */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $themeColor6;
            transform-origin: 0 0;
            transition: transform .3s ease-out;

        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $themeColor6;
            transition: all .3s ease-out;
            transform-origin: 0 50%; /*! the middle bar should shrink from centre to left */

        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $themeColor6;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;

        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .site-header__menu-icon__middle {
            opacity: 0; /*! remove this middle bar */
            transform: scaleX(0); /*! shrink the middle bar to 0 size horizontally gradually */
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }

    &__menu-content {
        /* display: none; */
        opacity: 0;
        transform: scale(1.2);
        transition: all .3s ease-out;
        position: relative;
        z-index: -10;
        padding-top: 90px;
        text-align: center;
        @mixin atMedium {
            /* display: block; */
            opacity: 1;
            z-index: 1;
            padding-right: 10%;
            padding-top: 0;
            transform: scale(1);
        }

        @mixin atLarge {
            /* display: block; */
            padding-right: 0;
        }

        &--is-visible {
            /* display: block; */
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }
    }
}