.site-header {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px 0;

    @mixin atMedium {
        background-color: rgba($fontColorDark, .3);
    }
    

    &__btn-container {
        float: right;
    }

    &__logo {
        position: absolute;
        background-color: $fontColorDark;
        padding: 10px 20px;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.7);
        transform-origin: 50% 0;
        @mixin atMedium {
            left: 15%;
            transform: 0;
        }

        /* @mixin atLarge {
            left: auto;
            transform: 0;
        } */

    }

    &__logo-graphic {
        text-indent: -9999px;
    }

    &__menu-icon {
        background-color: $fontColorDark;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-content {
        display: none;
        @mixin atMedium {
            display: block;
            padding-right: 10%;
        }

        @mixin atLarge {
            /* display: block; */
            padding-right: 0;
        }
    }
}