/*
reusable block for adding padding to the edges of the content
*/
.wrapper {
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    /*! padding left and right of 1rem ie 16+16 32 pixels has caused the max width of the wrapper to decrease by 32pixels.
    So whenever the padding left and right are changed, update the max-width accordingly */
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
    /*! hide any overflown elements like rows with gutters */
    overflow: hidden;

    &--medium {
        max-width: 976px;
    }

    /*! wrapper inside a wrapper should not have any padding , 
    this is for the img in the mid page section
    */
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    /*! wrapper with bottom margin */
    &--b-margin {

        margin-bottom: 1rem;
        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
        
    }

    /*! for smallscreens, we want very little padding so that can content can use as much space as possible 
        This is used in the testimonial section.
    */
    &--no-padding-until-medium {
        padding-left: 0.2rem;
        padding-right: 0.2rem;

        @mixin atMedium {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
        }
    }

    /*! although the class says no-padding until large, we want some padding for small and medium screens */
    &--no-padding-until-large {
        padding-left: 0.2rem;
        padding-right: 0.2rem;

        @mixin atLarge {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
        }
    }
}