/*
reusable block for adding padding to the edges of the content
*/
.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;

    /*! padding left and right of 1rem ie 16+16 32 pixels has caused the max width of the wrapper to decrease by 32pixels.
    So whenever the padding left and right are changed, update the max-width accordingly */
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
    /*! hide any overflown elements like rows with gutters */
    overflow: hidden;

    &--medium {
        max-width: 976px;
    }

    /*! wrapper inside a wrapper should not have any padding , 
    this is for the img in the mid page section
    */
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    /*! wrapper with bottom margin */
    &--b-margin {

        margin-bottom: 1rem;
        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
        
    }
}