/*
reusable block for adding padding to the edges of the content
*/
.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /*! hide any overflown elements like rows with gutters */
    overflow: hidden;

    &--medium {
        max-width: 976px;
    }

    /*! wrapper inside a wrapper should not have any padding , 
    this is for the img in the mid page section
    */
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}